
@{
    ViewData["Title"] = "Random";
}

<h3>Randomly Genrated Text Below</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br />
    tempor incididunt ut labore et dolore magna aliqua. Egestas maecenas <br />
    pharetra convallis posuere morbi leo urna. Est lorem ipsum dolor sit <br />
    amet. Et ligula ullamcorper malesuada proin libero. Volutpat commodo <br />
    sed egestas egestas fringilla phasellus. Sollicitudin aliquam ultrices <br />
    sagittis orci a scelerisque purus semper eget. Facilisis mauris sit <br />
    amet massa. Etiam non quam lacus suspendisse faucibus. Tristique senectus et<br />
    netus et malesuada fames ac. Amet consectetur adipiscing elit pellentesque <br />
    habitant morbi. Orci sagittis eu volutpat odio. Massa sapien faucibus et <br />
    molestie ac. Porta nibh venenatis cras sed felis eget velit aliquet sagittis. <br />
    Blandit aliquam etiam erat velit. Proin sed libero enim sed faucibus turpis <br />
    in eu. Est sit amet facilisis magna etiam tempor orci eu lobortis. Augue eget <br />
    arcu dictum varius. Velit ut tortor pretium viverra suspendisse. Pulvinar <br />
    elementum integer enim neque.</p>