<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIS174TrevorStewart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CIS174TrevorStewart.styles.css" asp-append-version="true" />

    <style>
        .dropdown:hover .dropdown-menu {display: block;}

       .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu
         {margin-top: 0;}
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CIS174TrevorStewart</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                              <button class="btn nav-btn nav-item dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="garbageBag">
                                Assignments
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="garbageBag">
                                  <li><a class="dropdown-item" href="#">Assignment 6.1 &raquo; </a>
                                        <ul class="dropdown-item dropdown-menu dropdown-submenu">
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="1">Access Level 1</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="2">Access Level 2</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="3">Access Level 3</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="4">Access Level 4</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="5">Access Level 5</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="6">Access Level 6</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="7">Access Level 7</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="8">Access Level 8</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="9">Access Level 9</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="SixOne" asp-route-id="10">Access Level 10</a></li>
                                    </ul>
                                  </li>
                              </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Olympics">Olympics</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CIS174TrevorStewart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
